@import "../../styles/variables.scss";

.gallery {
  position: relative;
  width: 100%;
  height: calc(240px + 64px);
  padding: 32px 0;

  &-wrapper {
    position: absolute;
    animation: slider 60s linear infinite;
  }

  &-item {
    min-width: 240px;

    & > img {
      width: 100%;
    }
  }
}

@keyframes slider {
  0% {
    left: 0%;
  }

  50% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}
